.form{
    width: 65vw;
    height: 60vh;
    margin: 0 15rem;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 8px 2px #444444;
    -moz-box-shadow: 0px 0px 8px 2px #444444;
    box-shadow: 0px 0px 8px 2px #444444;
   
}

.form button{
    width: 30vw;
}

.modal-body .formPopup{
    width: 25vw;
    height: 30vh;
}
.intro{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    height: 35vh;
    align-items: center;
    justify-content: center;
}
.intro .text{
    font-size: 2rem;
    color: #1b033d;
}
.intro p{
    font-style: italic;
    letter-spacing: 5px;
    font-size: 1.2rem;
}
.motto .img1{
    width: 10vw;
    margin-right: 5px;
}
a{
    text-decoration: none;
}
.kit{
    background-color: #eae6f1;
    -webkit-box-shadow: 1px 0px 4px 0px #444444;
-moz-box-shadow: 1px 0px 4px 0px #444444;
box-shadow: 1px 0px 4px 0px #444444;
}
.person-img img{
    height: 30vh;
}
.headH2{
    font-size: 2rem;
    letter-spacing: 2.5px;
    font-family: cursive;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .text p{
        font-style: italic;
        letter-spacing: 2px;
        font-size: 1rem;
    }
  

    .form{
        width: 100vw;
        height: 70vh;
        margin: 0;
        padding: 1rem;
    }
    .intro{
        display: block;
        height: 60vh;
        text-align: center;
        align-items: center;        
        }
        .motto .intro{
            height: 15rem;
        }
        .headH2{
            font-size: 2rem;
            letter-spacing: 2.5px;
            font-family: cursive;

        }
    .motto .img1, .intro .img1{
                display: block;
                width: 40vw;
                margin: 0 3.5rem;
        }
       .intro p{
            font-style: italic;
            letter-spacing: 3px;
            font-size: 0.8rem;
        }
}